body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.form-input
{
    border-right: #ffffff 1px solid;
    border-left: #ffffff 1px solid;
    border-top: #ffffff 1px solid;
    border-bottom: #000000 1px solid;
}

body {
    background-image: url("../img/background.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-account {
    color: #ffffff;
    font-size: 15px;
}

.text-welcome {
    color: #000000;
    font-size: 200%;
    margin-top:-17%;
    background-color: white;
    box-shadow:0px 0px 1px 1px gray;
}

.btn-success
{
    background-color: #a9d18e;
    border: #a9d18e;
    outline: #a9d18e
}
.btn-success:hover{
    background-color: #99bf80;
}

.formboxparent-mng {
    margin-top: 5%;
 }

@media (min-width: 992px) {
    .card {
        padding-left: -10%;
        padding-right: -10%;
    }

    .container {
        padding-left: 15%;
        padding-right: 15%;
        padding-top: 10%;
        padding-bottom: 10%;
    }
}

#font-text{
    font-family: 'Roboto', sans-serif;
}

body {overflow:hidden}
