body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../img/background.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-account {
    color: #000000;
    font-size: 15px;
}

.text-welcome {
    font-size: 200%;
    margin-top: -30px;
}

.formboxparent-mng {
    margin-top: 5%;
 }

@media (min-width: 992px) {
    .card {
        padding-left: -10%;
        padding-right: -10%;
    }

    .container {
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 10%;
        padding-bottom: 10%;
    }
}
