<div class="container" id="main">
    <!-- 시작 페이지 -->
    <div class="row" v-show='state === 1'>
        <div class="col-md-6 gray" id="left">
            <img id="title-img" src="img/gapa_icon.png"/>
            <div class="col-content">
                <img src="img/gapa_intro_1.png"/>
            </div>
        </div>
        
        <div class="col-md-6 white" id="right">
            <div class="col-content">
                <h1> 안녕하세요 !</h1>
                <h5 id="bottom-text">반갑습니다! 저는 GAPA라고 해요.</h5>
                <h5 id="bottom-text">저는 게임 친구, 파티를 찾아드리기 위해 만들어졌어요.</h5><br><br><br>
                <button type="button" class="btn btn-success" v-on:click="wantLogin" id="open">문 두드리기</button>
            </div>
        </div>
    </div>

    <!-- 로그인 칭 -->
    <div class="row" v-show='state === 2'>
        <div class="col-md-6 gray" id="left">
            <img id="title-img" src="img/gapa_icon.png"/>
            <div class="col-content">
                <img src="img/gapa_intro_1.png"/>
            </div>
        </div>
        
        <div class="col-md-6 white" id="right">
            <div class="col-content">
                <h1 id="top-text">똑! 똑! 똑!</h1>
                <h5 id="bottom-text">GAPA는 낯선사람에게 문열어주지 말라고 배웠어요.</h5><br><br><br>
                <div class="form-inline">
                    <label class="sr-only" for="ID">ID</label>
                    <input type="id" class="center-block" style="margin-bottom: 10px;" placeholder="  ID">
                </div>
                <div class="form-inline">
                    <label class="sr-only" for="Password">PW</label>
                    <input type="password" class="center-block" style="margin-bottom: 10px;" placeholder="  PW">
                </div>
                <button type="button" class="btn btn-success" id="loginbtn" v-on:click="gameSelect">Login</button><br/>
                <a href="#" id="register">회 원 가 입</a>
            </div>
            <div class="col-box" id="col-box">
            </div>
        </div>
    </div>

    <!-- 게임 입력 창 -->
    <div class="row" v-show='state === 3'>
        <div class="col-md-6 white" id="left">
            <img id="title-img" src="img/gapa_icon.png"/>
            <div class="col-content">
                <br/><br/><br/><br/><br/>
                <h1>어떤 게임의 친구를 찾으시나요?</h1>
                <h5>어떤 게임의 친구를 찾으시는지 선택해 주세요.</h5>
                <p>아! 언제든 변경할 수 있으니 걱정하지 않으셔도 되요 :)</p>
                <img id="intro-image" src="img/gapa_intro_2.png"/>
            </div>
        </div>

        <div class="col-md-6 gray" id="right">
            <div class="form-inline">
                <label class="sr-only" for="game">game</label>
                <input type="game" class="center-block" id="gamebox" style="margin-bottom: 10px;" placeholder="   게임 입력">
                
                <!-- <div class="btn-group">
                    <input type="game" class="center-block" id="gamebox" style="margin-bottom: 10px;" placeholder="   게임 입력">
                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </div> -->
            </div>
        </div>
    </div>

    <div class="row" v-show='state === 4'>
            <div class="col-md-3 gray" id="left">
                <img id="title-img" src="img/gapa_icon.png"/>
                <div class="col-content">
                    <h3 class="text-center">name#0101</h3><br>
                    <h5 class="text-center">2300</h5>
                    <button type="button" class="col-md-12 btn btn-success"> 빠른 방 찾기</button> 
                    <button type="button" class="col-md-12 btn btn-success" style="margin-top: 5px"> 방 만들기</button>
                </div>
            </div>
    
            <div class="col-md-9 white" id="right">
                    <div class="form-inline">
                        <label class="sr-only" for="game">game</label>
                        <input type="game" id="gamebox" style="margin-bottom: 10px;" placeholder="   게임 이름">
                    </div>
                <table class="table table-hover">
                    <thead><tr></tr></thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>제목</td>
                            <td>2000~3000</td>
                            <td>3/6</td>
                        </tr>
                        <tr class="table-success">
                            <td>2</td>
                            <td>제목</td>
                            <td>2000~3000</td>
                            <td>3/6</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>제목</td>
                            <td>2000~3000</td>
                            <td>3/6</td>
                        </tr>
                         <tr class="table-success">
                            <td>4</td>
                            <td>제목</td>
                            <td>2000~3000</td>
                            <td>3/6</td>
                         </tr>
                    </tbody>
                 </table>
            </div>
     </div>
</div>
