<div class="container" id="rooms">
<div class="row">
        <div class="col-md-9 white " id="left">
            <div class="col-content">
                <h3 class="text-left">#Black Spirits</h3>
                <hr />
                <input class="col-md-12 center-block"type="chat" id="chatbox" placeholder="">
            </div>
        </div>

        <div class="col-md-3 gray" id="right">
            <h5 style="margin-top: 10px; margin-bottom: 10%">인원 <small>- 3</small></h5>
            <div class="form-inline">
                    <p><img src="img/blackspirit.jpg" class="rounded-circle col-md-3" alt="Cinque Terre">흑정령</p>
                    <p><img src="img/blackspirit.jpg" class="rounded-circle col-md-3" alt="Cinque Terre">흑정령1</p>
                    <p><img src="img/blackspirit.jpg" class="rounded-circle col-md-3" alt="Cinque Terre">흑정령2</p>
            </div>
            <button type="button" class="col-md-11 center-block btn-lg" >나가기</button>
        </div>
    </div>
</div>