<div class="container" style="background-color:red">
    <div class="card" style="background-color:tomato">
        <div class="card-body" style='background-color:green'>
            <div class="container col-xs-6 col-md-4">
            <p class="text-center text-welcome" style="background-color:blue">Welcome !!</p> <br></div>

            <form class="form-inline">
                <label class="sr-only" for="ID">ID</label>
                <input type="id" class="center-block form-control form-input col-md-4" placeholder="ID">
            </form>

          <form class="form-inline">
                <label class="sr-only" for="Password">Password</label>
                <input type="password" class="center-block form-control form-input col-md-4" placeholder="Password">
            </form>

            <button type="button" class="center-block btn btn-success col-md-4">LOGIN</button>
        </div>
        <a class="text-center text-account" href="#"  >Create An Account</a>
    </div>
</div>