<div class="container formboxparent-mng">
    <div class="card"style="box-shadow:0px 0px 1.5px 1.5px gray;">
        <div class="card-body" >
            <div class="card-body col-xs-6 col-md-8 center-block">
            <p class="center-block text-center text-welcome"id="font-text">Welcome !!</p></div>

            <form class="form-inline">
                <label class="sr-only" for="ID">ID</label>
                <input type="id" class="center-block form-control col-md-6" style="margin-bottom: 10px" id="font-text"placeholder="ID">
            </form>

          <form class="form-inline">
                <label class="sr-only" for="Password">Password</label>
                <input type="password" class="center-block form-control col-md-6" style="margin-bottom: 10px"id="font-text" placeholder="Password">
            </form>
            
            <button type="button" class="center-block btn btn-success col-md-6"id="font-text">LOGIN</button>
        </div>
        <button type="button" class="btn btn-success text-account" href="#"  style="margin-top: 10px" id="font-text">Create An Account</a>
    </div>
</div>
