<div class="container">
<div class="row">
        <div class="col-md-3 gray" id="left">
            <img id="title-img" src="img/gapa_icon.png"/>
            <div class="col-content">
                <h3 class="text-center">name#0101</h3><br>
                <h5 class="text-center">점수(티어) : 2300</h5>
                <button type="button" class="col-md-12 btn btn-success" style="margin-top: 10%">빠른 방 찾기</button> 
                <button type="button" class="col-md-12 btn btn-success" style="margin-top: 5px"> 방 만들기</button>

                <button type="button" class="col-md-4 fas fa-cog" id="setting"></button>
            </div>
        </div>

        <div class="col-md-9 white" id="right">     <!-- #right 미사용 중-->
            <div class="form-inline">
                <label class="sr-only" for="game">game</label>
                <input type="game" id="gamebox" style="margin-bottom: 10px;" placeholder="   게임 이름">
            </div>

            <button type="button" class="col-md-2 fas fa-times"></button>
            <table class="table table-hover">
                <thead><tr></tr></thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>제목</td>
                        <td>2000~3000</td>
                        <td>3/6</td>
                    </tr>
                    <tr class="table-success">
                        <td>2</td>
                        <td>제목</td>
                        <td>2000~3000</td>
                        <td>3/6</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>제목</td>
                        <td>2000~3000</td>
                        <td>3/6</td>
                    </tr>
                     <tr class="table-success">
                        <td>4</td>
                        <td>제목</td>
                        <td>2000~3000</td>
                        <td>3/6</td>
                     </tr>
                </tbody>
             </table>
         </div>
    </div>
</div>