$themeColor: #242424;
$backgroundColor: #FADA80;
$pointColor: #F6404F;
$idleColor: #F7F7F7;
$idleColorOpa: #dbd0d0;
$positiveColor: #30BCC9;
$grayColor: #A7A8A9;

// Room Color
$almostFullColor: #c2eaed;
$almostFullColorHover: #b7e5e8;
$halfColor: #daf3f5;
$halfColorHover: #d5ebed;

// $themeColor: #171515;
// $backgroundColor: #FADA80;
// $pointColor: #F6404F;
// $idleColor: white;

.btn-success {
	background-color: $themeColor;
	border: 0px;
}