$themeColor: #434738;
$backgroundColor: #FADA80;
$pointColor: #F6404F;
$idleColor: #F7F7F7;
$idleColorOpa: #dbd0d0;
$positiveColor: #30BCC9;
// $themeColor: #171515;
// $backgroundColor: #FADA80;
// $pointColor: #F6404F;
// $idleColor: white;

.btn-success {
	background-color: $themeColor;
	border: 0px;
}