body {
    background-color: #f0f0f0;
}

@font-face { 
    font-family: 'KoPubDotumMedium'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/KoPubDotumMedium.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; 
}

@media (max-width :992px){
    .row .col-md-6#right #bottom-text{
        font-size: 16px;
    }
}

@media (min-width : 992px) {
    body {
        margin-top: 10rem;
    }
    .row .col-md-6#right #bottom-text{
        /*margin-top: -0.2rem;*/
        font-size: 18px;
    }
}

img#title-img {
    width:60px;
    position: relative;
    margin-left: 15px;
    /* margin-top:60px; */
}

.row {
    font-family: 'KoPubDotumMedium'; 
    height: 40rem;
    box-shadow: rgb(112, 106, 112) 0px 0px 35px -2px;
}
.row .col-md-6 .col-content {
    text-align: center;
}

.row .col-md-6.white{
    background-color: white;
}
.row .col-md-6.gray{
    background-color: rgb(248,248,248);
}

@keyframes col-box-anim {
    0% {
        opacity: 100;
    }
    20% {        
        opacity: 0;
    }
    40% {        
        opacity: 100;
    }
    60% {
        opacity: 0;
    }
    80% {
        opacity: 100;
    }
    99% {
        /* width: 100%; */
    }
    100% {
        opacity: 0;
        /* width: 0; */
    }
  }

.row .col-md-6 .col-box {
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    opacity: 100;
    background-color: white;
    animation-name: col-box-anim;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.row .col-md-6#left { 
    padding-top: 3%;
    height: 40rem;
}
.row .col-md-6#left #intro-image { 
    width:200px;
    position: absolute;
    bottom: 0;
    margin-left: -100px;
}
.row .col-md-6#right {
    padding-top: 20%;
    height: 40rem;
}

.row .col-md-6#right button {
    font-size: 25px;
    width: 150px;
    height: 50px;
}

.row .col-md-6#right .center-block{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.row .col-md-6#right input{
    height: 50px;
    width: 400px;
    border-right: #d5ebca 1px solid;
    border-left: #d5ebca 1px solid;
    border-top: #d5ebca 1px solid;
    border-bottom: #d5ebca 1px solid;
    box-shadow: 0px 0px 15px -7px gray;
}

.row .col-md-6#right button{
    background-color: #8dcc75;
    border-right: #8dcc75 1px solid;
    border-left: #8dcc75 1px solid;
    border-top: #8dcc75 1px solid;
    border-bottom: #8dcc75 1px solid;
}

.row .col-md-6#right #loginbtn{
    margin-top: 10%;
    width: 40%;
}

.row .col-md-6#right #top-text{
    margin-top: -8rem;
}

.row .col-md-6#right #register{
    color: #8dcc75;
    text-decoration: underline;
}

/* 게임 입력창 input */
.row .col-md-6#right .form-inline #gamebox{
    height: 50px;
    width: 400px;
    border-right: #8dcc75 3px solid;
    border-left: #8dcc75 3px solid;
    border-top: #8dcc75 3px solid;
    border-bottom: #8dcc75 3px solid;
    margin-top: 10px;
}