/*
	.card-rounded는 .card를 원형으로 꾸미는 클래스
		.card-user 사용시
			class = "card card-rounded card-user"
		.card-room 사용시
			class = "card card-rounded card-room
*/
.card-rounded {
	margin-top: 15px;
	border: none;
	border-radius: 25px;
	cursor: pointer;
	-webkit-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.1);
	&:hover {
		-webkit-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.4);
		-moz-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.4);
		box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.4);
		.user-profile {
			transform:scale(1.1);
			-o-transform:scale(1.1); 
			-moz-transform:scale(1.1);
			-webkit-transform:scale(1.1);
		}
	}
	&.card-user {
		background-color: $positiveColor;
		color: white;
		.user-profile {
			width: 50px;
			height: 50px;
			border-radius: 25px;
			object-fit: cover;
			transition: all .2s ease-in-out;
			-o-transition: all .2s ease-in-out;
			-moz-transition: all .2s ease-in-out;
			-webkit-transition: all .2s ease-in-out;
		}
		.user-state {
			margin-top: 10px;
			font-size: 12px;
		}
	}
}