.profile-img {
	border-radius: 20%;
	object-fit: cover;
	cursor: pointer;
	border: 0px;
	&.sm-size {
		min-width: 40px;
		max-width: 40px;
		min-height: 40px;
		max-height: 40px;
	}
	&.md-size {		
		min-width: 60px;
		max-width: 60px;
		min-height: 60px;
		max-height: 60px;
	}
	&.lg-size {
		min-width: 150px;
		max-width: 150px;
		min-height: 150px;
		max-height: 150px;
	}
}