body {
    background-color: #E2F0D9;
}

@font-face { 
    font-family: 'KoPubDotumMedium'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/KoPubDotumMedium.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; 
}

@media (max-width : 992px){
    .row .col-md-3#left #setting{
        margin-top: 30%
    }
}

@media (min-width : 992px) {
    body {
        margin-top: 10rem;
    }
    .row .col-md-3#left #setting{
        margin-top: 70%
    }
}

.row {
    font-family: 'KoPubDotumMedium'; 
    height: 40rem;
    box-shadow: rgb(112, 106, 112) 0px 0px 35px -2px;
}

.row .col-md-6 .col-content {
    text-align: center;
}

img#title-img {
    width:60px;
    position: relative;
    margin-left: 15px;
}

.row .col-md-9.white input{
    height: 50px;
    width: 400px;
    border-right: #8dcc75 3px solid;
    border-left: #8dcc75 3px solid;
    border-top: #8dcc75 3px solid;
    border-bottom: #8dcc75 3px solid;
    margin-top: 10px;
}

.row .col-md-3#left .col-md-12{
    height: 50px;
    background-color: #8dcc75;
    border-right: #8dcc75 1px solid;
    border-left: #8dcc75 1px solid;
    border-top: #8dcc75 1px solid;
    border-bottom: #8dcc75 1px solid;
}
.row .col-md-3.gray{
    background-color: rgb(248,248,248);
}

.row .col-md-9.white {
    background-color: white;
}

.row .col-md-3#left { 
    padding-top: 3%;
    height: 40rem;
}

/*.row .col-md-9#right {
    padding-top: 20%;
    height: 40rem;
}*/

.row .col-md-3#left h3{
    padding-top: 20%;
}

.row .col-md-3#left #setting, .row .col-md-9 .col-md-1{
    color: #8dcc75;
    border: 0;
}
.row .col-md-3#left #setting{
    background-color: rgb(248,248,248);
    font-size: 300%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.row .col-md-9 .col-md-1{
    background-color: white;
    margin-left: auto;
    font-size: 200%;
}