/* 
    scrolling-wrapper lg-size 를 사용하기 위해선
    상위 컴포넌트에 아래 컨디션 클래스를 추가
    - 스크롤 바를 없애고 싶다면 margin-right: -50px 로 변경하면 됨
    - 스크롤 바를 보이고 싶다면 margin-right: -50px 로 변경하면 됨
*/
.lg-wrapper-condition {
    margin-left: -40px;
    margin-right: -50px;
}

.scrolling-wrapper {
    padding-right: 10px;
    -webkit-overflow-scrolling: touch;
    &.sm-size {
        height: 530px;
        // height: 443px;
    }
    &.md-size {
        height: 530px;
    }
    &.lg-size {
        // height: 610px;
        height: 570px;   // 패딩 값도 없앤값
        padding-right: 50px;
        padding-left: 40px;
        padding-bottom: 100px;
    }
}

.search-scrolling-wrapper {
	margin-left: -15px;
	margin-right: -15px;
	margin-top: 20px;
	height: 590px;
	-webkit-overflow-scrolling: touch;
}

.chat-scrolling-wrapper {
    height: 600px;		
    padding-right: 10px;
    -webkit-overflow-scrolling: touch;
}